.container {
  align-items: center;
  background-color: #f7f7f7;
}

.title {
  font-weight: 500;
  font-size: 50rpx; 
}
.content{
  flex-direction: row;
  font-weight: 200;
  font-size: 30rpx;
}

.text-btn {
  background-color: blue;
  text-decoration:underline; 
}

.swiper {
  border-radius: 8rpx;
  overflow: hidden;
}
